:root{
  --overlay: black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-container{
  background-image: url("./weather-2-imgs/regular.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.App {
  text-align: center;
}






